@charset "UTF-8";
.topmenu .nav-item {
  display: inline-block;
}
.topmenu .nav-link {
  color: #000;
  display: block;
  padding: 5px 10px;
}
.topmenu .nav-link:hover {
  color: #777;
}
.topmenu .nav-link.active {
  background: #eee;
}
.topmenu .nav-link.active:before {
  content: "⇨ ";
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}
* {
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  font: 400 16px/1.5 Roboto, sans-serif;
}

body {
  background: #fff;
}

ul {
  list-style: none;
}

a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 10px 0 0;
}

.wrapper {
  clear: both;
  margin: auto;
  width: 80%;
}

.template[data-template] {
  display: none;
}

.input {
  border: 1px solid #000000;
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
  padding: 2px 5px;
}

.btn {
  background: #eeeeee;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  vertical-align: top;
}
.btn:hover {
  background: #ffffff;
}
.btn_type_success {
  border: 1px solid #163306;
}
.btn_type_warning {
  border: 1px solid #332506;
}
.btn_type_error {
  border: 1px solid #310505;
}

[class*=_type_success] {
  background: #82d06d;
  color: #163306;
}
[class*=_type_success]:hover {
  background: #a3e791;
}

[class*=_type_warning] {
  background: #d0c86d;
  color: #332506;
}
[class*=_type_warning]:hover {
  background: #eae499;
}

[class*=_type_error] {
  background: #e38484;
  color: #310505;
}
[class*=_type_error]:hover {
  background: #efa7a7;
}

.timeline {
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0) 70.71%);
  display: inline-block;
  margin-top: 30px;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 50%;
}

.timeline__typeToggles {
  position: absolute;
  right: 0;
  top: 0;
}

.timeline__typeToggle {
  border-right: 1px solid #000;
  cursor: pointer;
  display: inline-block;
  padding: 0.3em 0.6em;
}

.timeline__typeToggle:last-child {
  border: none;
}

.timeline__typeToggle:hover {
  background: rgba(255, 255, 255, 0.3);
}

.timeline__name {
  bottom: 100%;
  font-size: 120%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.timeline[data-type=visual] {
  height: 500px;
  text-align: center;
}

.timeline[data-type=visual] .timeline__events {
  border: 1px black solid;
  display: inline-block;
  height: 500px;
  width: 20px;
}

.timeline[data-type=visual]:before, .timeline[data-type=visual]:after {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.timeline[data-type=visual]:before {
  content: attr(data-start);
  top: 0;
}

.timeline[data-type=visual]:after {
  bottom: 0;
  content: attr(data-end);
}

.timeline[data-type=visual] .timeline__event {
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 90%;
  padding: 0.3em 0.7em;
  position: absolute;
  transform: translateY(1.9em);
  text-align: left;
}
.timeline[data-type=visual] .timeline__event:hover {
  z-index: 1000 !important;
}

.timeline[data-type=visual] .timeline__event:nth-child(odd) {
  border-radius: 4px 0 4px 4px;
  right: 50%;
  margin-right: 20px;
}

.timeline[data-type=visual] .timeline__event:nth-child(odd) .timeline__eventTime {
  right: 0;
  transform: translateX(1px);
}

.timeline[data-type=visual] .timeline__event:nth-child(even) {
  border-radius: 0 4px 4px 4px;
  left: 50%;
  margin-left: 20px;
}

.timeline[data-type=visual] .timeline__event:nth-child(even) .timeline__eventTime {
  left: 0;
  transform: translateX(-1px);
}

.timeline[data-type=visual] .timeline__event_expanded .timeline__eventDescription {
  display: inline-block;
}

.timeline[data-type=visual] .timeline__eventTime {
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid #fff;
  border-radius: 4px 4px 0 0;
  bottom: 100%;
  content: attr(title);
  font-size: 90%;
  padding: 0.2em 0.7em;
  position: absolute;
}

.timeline[data-type=visual] .timeline__eventDescription {
  display: none;
}

.timeline[data-type=text] .timeline__event {
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid #fff;
  border-radius: 1em;
  margin: 0.5em 1em;
  padding: 1em;
}

.timeline[data-type=text] .timeline__event_expanded {
  background: rgba(0, 255, 0, 0.25);
}

.timeline[data-type=text] .timeline__eventTime {
  font-size: 80%;
}

.recipe {
  display: grid;
  grid-template-columns: 25% 1fr;
}
.recipe__name {
  background: #c0834b;
  color: #ffffff;
  font-size: 200%;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
.recipe__name .recipe__editLink {
  font-size: 75%;
  color: #6e3f13;
}
.recipe__ingredients {
  padding: 2vmin 5vmin;
}
.recipe__description {
  padding: 2vmin 5vmin;
}
.recipe__timelines {
  column-gap: 1vmin;
  display: flex;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
.recipe__actions {
  font-size: 150%;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 20px 0 0;
  text-align: center;
}
.recipe__deleteForm {
  display: inline-block;
}
.recipe__deleteFormButton {
  font-size: inherit;
  line-height: inherit;
}

.recipeList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vmin;
}
.recipeList__recipe {
  border: 1px solid #000;
  border-radius: 2vmin;
  color: #fff;
  display: grid;
  grid-template-rows: 5vmin 1fr 2vmin;
  overflow: hidden;
  position: relative;
  height: 30vmin;
}
.recipeList__recipe:hover .recipeList__recipeDescription {
  opacity: 1;
}
.recipeList__recipeName {
  background: rgba(0, 0, 0, 0.5);
  font-size: 3vmin;
  text-align: center;
  width: 100%;
}
.recipeList__recipeDescription {
  background: rgba(0, 0, 0, 0.5);
  font-size: 2vmin;
  opacity: 0;
  padding: 0 1vmin;
  text-overflow: ellipsis;
  transition: opacity 0.3s;
}
.recipeList__recipeLength {
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5vmin;
  padding: 0 1.5vmin;
  text-align: right;
}

.recipeForm__recipeInfo {
  width: 100%;
}
.recipeForm__recipeInfo input, .recipeForm__recipeInfo textarea, .recipeForm__recipeInfo select {
  width: 100%;
}
.recipeForm__recipeInfo textarea {
  height: 4em;
  vertical-align: top;
}
.recipeForm__ingredients {
  margin: 10px 0 0;
}
.recipeForm__ingredientButtons {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
}
.recipeForm__ingredient {
  margin: 5px 0 0;
  position: relative;
}
.recipeForm__ingredient:hover .recipeForm__ingredientButtons {
  display: block;
}
.recipeForm__timelines {
  margin: 10px 0 0;
}
.recipeForm__timelineButtons {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
}
.recipeForm__timeline {
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 5px 0 0;
  padding: 5px;
  position: relative;
}
.recipeForm__timeline:hover .recipeForm__timelineButtons {
  display: block;
}
.recipeForm__timelineName {
  display: block;
}
.recipeForm__timelineEvents {
  margin: 10px 0 0;
}
.recipeForm__timelineEventsTitle {
  margin: 5px 0 0;
}
.recipeForm__timelineEventButtons {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
}
.recipeForm__timelineEvent {
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 5px 0 0;
  padding: 5px;
  position: relative;
}
.recipeForm__timelineEvent:hover .recipeForm__timelineEventButtons {
  display: block;
}
.recipeForm__timelineEventDescription {
  display: block;
  margin: 5px 0 0;
}
.recipeForm__timelineEventDescription textarea {
  width: 100%;
}
.recipeForm__buttons {
  margin: 10px 0 0;
}

.recipeSearchForm {
  margin: 0 0 10px;
}
.recipeSearchForm__header {
  background: #82d06d;
  border: 1px solid #163306;
  color: #163306;
  cursor: pointer;
  padding: 5px 10px;
}
.recipeSearchForm__header:hover {
  background: #a3e791;
}
.recipeSearchForm__content {
  border: 1px solid #163306;
  border-top: none;
  display: none;
  padding: 0 10px 5px;
}
.recipeSearchForm__rowTitle {
  font-size: 90%;
}
.recipeSearchForm_opened .recipeSearchForm__content {
  display: block;
}
.recipeSearchForm input {
  min-width: 400px;
}
.recipeSearchForm .select2-container--krajee-bs3 {
  display: inline-block;
  min-width: 400px;
  width: auto !important;
}
.recipeSearchForm .select2-container--krajee-bs3 .select2-selection {
  border: 1px solid #000000;
  border-radius: 2px;
  height: 30px;
  min-height: 0;
}
.recipeSearchForm .select2-container--krajee-bs3 .select2-selection--multiple .select2-selection__choice {
  margin: 3px 0 0 6px;
}
.recipeSearchForm .select2-container--krajee-bs3 .select2-selection--single .select2-selection__arrow {
  height: 28px;
}

/*# sourceMappingURL=styles.css.map */
