$timelineBorder: 1px black solid;
$timelineWidth: 20px;
$timelineHeight: 500px;
$timelineEventBorderWidth: 1px;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font: 400 14px/1.5 Arial, sans-serif;
}

.wrapper {}

.recipe {
  &__name {}
  &__ingredients {}
  &__timelines {}
}

.timeline {
  background:
    linear-gradient(217deg, rgba(255, 0, 0, .5), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, .5), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, .5), rgba(0, 0, 255, 0) 70.71%);
  display: inline-block;
  position: relative;
  width: 50%;

  &__typeToggles {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__typeToggle {
    border-right: 1px solid #000;
    cursor: pointer;
    display: inline-block;
    padding: .3em .6em;
    &:last-child {
      border: none;
    }
    &:hover {
      background: rgba(255, 255, 255, .3);
    }
  }

  &[data-type="visual"] {

    height: $timelineHeight;
    text-align: center;

    .timeline__name {}
    .timeline__events {
      border: $timelineBorder;
      display: inline-block;
      height: $timelineHeight;
      width: $timelineWidth;
    }

    &:before, &:after {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
    &:before {
      content: attr(data-start);
      top: 0;
    }
    &:after {
      bottom: 0;
      content: attr(data-end);
    }

    .timeline__event {

      background: rgba(0, 0, 0, .25);
      border: $timelineEventBorderWidth solid #fff;
      cursor: pointer;
      font-size: 90%;
      padding: .3em .7em;
      position: absolute;
      transform: translateY(1.9em);
      text-align: left;

      &:nth-child(odd) {
        border-radius: 4px 0 4px 4px;
        right: 50%;
        margin-right: $timelineWidth / 2 + 10px;
        .timeline__eventTime {
          right: 0;
          transform: translateX($timelineEventBorderWidth);
        }
      }
      &:nth-child(even) {
        border-radius: 0 4px 4px 4px;
        left: 50%;
        margin-left: $timelineWidth / 2 + 10px;
        .timeline__eventTime {
          left: 0;
          transform: translateX(-$timelineEventBorderWidth);
        }
      }
      &_expanded {
        .timeline__eventDescription {
          display: inline-block;
        }
      }

    }
    .timeline__eventTime {
      background: rgba(0, 0, 0, .25);
      border: $timelineEventBorderWidth solid #fff;
      border-radius: 4px 4px 0 0;
      bottom: 100%;
      content: attr(title);
      font-size: 90%;
      padding: .2em .7em;
      position: absolute;
    }
    .timeline__eventName {}
    .timeline__eventDescription {
      display: none;
    }
  }

  &[data-type="text"] {
    .timeline__event {
      background: rgba(0, 0, 0, .25);
      border: $timelineEventBorderWidth solid #fff;
      border-radius: 1em;
      margin: .5em 1em;
      padding: 1em;
    }
    .timeline__event_expanded {
      background: rgba(0, 255, 0, 0.25);
    }
    .timeline__eventTime {
      font-size: 80%;
    }
  }
}