$_headerColor: #ffffff;
$_headerBGColor: #c0834b;

$_backgroundDefault: #eeeeee;
$_backgroundDefaultHover: #ffffff;
$_borderDefault: 1px solid #000000;
$_colorDefault: #000000;

$_backgroundSuccess: #82d06d;
$_backgroundSuccessHover: #a3e791;
$_borderSuccess: 1px solid #163306;
$_colorSuccess: #163306;

$_backgroundWarning: #d0c86d;
$_backgroundWarningHover: #eae499;
$_borderWarning: 1px solid #332506;
$_colorWarning: #332506;

$_backgroundError: #e38484;
$_backgroundErrorHover: #efa7a7;
$_borderError: 1px solid #310505;
$_colorError: #310505;